.Mainchat
  .Mainchat__GroupInfo
    .Mainchat__GroupInfo__Group
      %p.Groupname
      = @group.name
      .Mainchat__GroupInfo__Group__GroupMember
        %p.Member Member：
        %ul.MemberList
          - @group.users.each do |user|
            %li
              = user.name
    .Mainchat__GroupInfo__Edit
      = link_to "Edit", "/groups/#{@group.id}/edit", class: "Edit--btn"

  .Mainchat__MessageList
    = render @messages

  .Mainchat__MessageForm
    = form_with model: [@group, @message], html: {class: "MessageForm"}, local: true do |f|
      = f.text_field :text, class: 'message', placeholder: 'type a message'
      = f.label :image, class: "message--image" do
        = icon('fas', 'image')
        = f.file_field :image, class: "input--image"
      = f.submit 'Send', class: 'send--btn'