.Sidebar
  .Sidebar__User
    .Sidebar__User__TopItems
      %p.name
        = current_user.name
      %ul.icon
        %li
        = link_to "/groups/new", class: "icon--btn" do
          = icon('fas', 'edit', class: "icon--btn--create")
        %li.icon--btn
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "icon--btn--edit")

  .Sidebar__GroupList
    - current_user.groups.each do |group|
      .Sidebar__GroupList__Chat
        = link_to group_messages_path(group) do
          .name
            = group.name
          .message
            = group.show_last_message